@font-face { 
  font-family: "Roboto";
  src: local("Roboto") format("woff2"),
       url("/fonts/roboto.woff2") format("woff2"),
       local("Roboto") format("woff"),
       url("/fonts/roboto.woff") format("woff");
  font-weight: 400;
}

@font-face { 
  font-family: "Roboto";
  src: local("Roboto Medium") format("woff2"),
       url("/fonts/robotomedium.woff2") format("woff2"),
       local("Roboto Medium") format("woff"),
       url("/fonts/robotomedium.woff") format("woff");
  font-weight: 500;
}

@font-face { 
  font-family: "Roboto";
  src: local("Roboto Bold") format("woff2"),
       url("/fonts/robotobold.woff2") format("woff2"),
       local("Roboto Bold") format("woff"),
       url("/fonts/robotobold.woff") format("woff");
  font-weight: 700;
}

body {
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #fff;
}

a {
  text-decoration: none;
}

.btn {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  /* border-radius: 5px; */
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

/* Хеддер и навигация */
.header-main {
  font-weight: 500;
  line-height: 30px;
  color: #000;

  background-color: #eee;
}

.header-main h1 {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}

.nav-list,
.nav-user {
  list-style: none;
}

.nav-list a,
.nav-user a {
  color: #000;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-user a:hover,
.nav-user a:focus {
  color: #fb565a;
}

.nav-list a:active,
.nav-user a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

 /* Преимущества и Слайдер */
.advantages {
  background-color: #eee;
}

.advantages-list {
  list-style: none;
}

.advantages-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
}

/* Услуги */
.products {
  color: #283136;

  background-color: #fff;
}

.products-list {
  list-style: none;
}

.products-title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

/* Преимущества и Слайдер -- Кнопки */
.products-item:nth-child(2) .btn {
  background-color: #00ca74;
}

.products-item:nth-child(3) .btn {
  background-color: #efc849;
}

.products-item:nth-child(2) .btn:hover {
  background-color: #00bc6c;
}

.products-item:nth-child(3) .btn:hover {
  background-color: #eab534;
}

.products-item:nth-child(2) .btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.products-item:nth-child(3) .btn:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #e5a722;
}

/* О нас */
.about-us {
  color: #283136;

  background-color: #eee;
}

.about-us-promo {
  font-weight: 700;
  color: #000;
}

.about-us-slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-us ul {
  list-style: none;
}

.about-us-success tr {
  line-height: 18px;
  font-weight: 400;
}

.about-us-success tr:first-child {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  color: #000;
}

/* Наши клиенты  */
.clients ul {
  list-style: none;
}

.clients li {
  opacity: 0.2;
}

.clients li:hover {
  opacity: 1;
}

.clients li:active {
  opacity: 0.1;
}

/* Контакты */
.contacts {
  line-height: 18px;
  color: #666;

  background-color: #fff;
}

.contacts h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
}

/* Футер */
.main-footer {
  line-height: 22px;
  color: #444;

  background-color: #fff;
}

.main-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
}

.social-list {
  list-style: none;
}

/* Инпуты Каталога */

.filter-catalog {
  line-height: 20px;

  background-color: #fff;
}

.filter-catalog legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.filter-catalog input { 
  background-color: #eee;
}

.filter-catalog ul { 
  list-style: none;
}

.filter-catalog .btn { 
  color: #000;

  background-color: #eee;
}

/* Каталог готовых шаблонов */
.catalog {
  line-height: 18px;
  color: #666;

  background-color: #fff;
}
    /* Сортировка Каталога */
.sort-list,
.sort-direction { 
  list-style: none;
}

.sort-list a,
.sort-direction a { 
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);

  list-style: none;
}

.sort-list a:hover,
.sort-direction a:hover { 
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:focus,
.sort-list a:active,
.sort-direction a:focus,
.sort-direction a:active { 
  color: #000;
}

    /* Каталог - карточка товаров */
.catalog-list { 
  list-style: none;
}

.item-info { 
  text-align: center;

  background-color: #eee;
}

.item-info .btn:hover,
.item-info .btn:active {
  color: #fff;
}

.item-title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

/* Пагинация */
.pagination-list { 
  list-style: none;
}

.pagination-item a,
.pagination-next a {
  font-weight: 500;
  color: #000;
}

.pagination-item,
.pagination-next { 
  background-color: #eee;
}

.pagination-item:hover,
.pagination-next:hover {
  background-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
}

.pagination-item:active a,
.pagination-next:active a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-current,
.pagination-item:hover.pagination-current,
.pagination-item:active.pagination-current {
  background-color: #fff;
  border: 2px solid #dbdbdb;
}



/* Модальная форма */
.modal-form {
  line-height: 18px;
  font-weight: bold;
  color: #000;

  background-color: #fff;
}

.modal-form h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500; 
}

.modal-form input,
.modal-form textarea {
  font: inherit;
  line-height: 18px;
  color: #444;

  background-color: transparent;
  border: 2px solid #d7dcde;
}

.modal-form input:hover,
.modal-form textarea:hover {
  color: rgba(68, 68, 68, 0.5);

  border-color: #b4b9bb;
}

.modal-form input:focus,
.modal-form textarea:focus {
  color: #444;

  border-color: #000;
}

.modal-form input:invalid,
.modal-form textarea:invalid {
  color: #e74246;

  border-color: #e74246;
}

.modal-form button[type="submit"] {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: #fff;

  background-color: #fb565a;
  border: none;
}

.modal-form button[type="submit"]:hover,
.modal-form button[type="submit"]:focus {
  background-color: #e74246;
}

.modal-form button[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}
