@font-face { 
  font-family: "Roboto";
  src: 
       url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: 400;
}

@font-face { 
  font-family: "Roboto";
  src: 
       url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: 500;
}

@font-face { 
  font-family: "Roboto";
  src: 
       url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: 700;
}

html {
  box-sizing: border-box;
}

*,*::before,*::after {
  box-sizing: inherit;
}

body {
  min-width: 1440px;
  margin: 0;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: #283136;

  background-color: #fff;
}

a {
  text-decoration: none;
}

/* Надо откорректровать  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: (0 0 0 0);
  overflow: hidden;
}

.btn {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;

  background-color: #fb565a;
  border: none;
  /* border-radius: 5px; */
}

.btn:hover {
  background-color: #e74246;
}

.btn:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.container-index {
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Хеддер и навигация */
.header-main {
  padding-top: 50px;
  min-height: 115px;

  font-weight: 500;
  line-height: 30px;
  color: #000;

  background-color: #eee;
}

.header-main h1 { /* Влияет на страницу Каталога */
  min-height: 240px;
  margin: 0;
  margin-bottom: 50px;
  padding-top: 70px;
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;

  text-align: center;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: uppercase;
}

.header-nav ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  width: 440px;
}

.nav-user {
  display: flex;
  justify-content: flex-end;
  width: 155px;
}

.nav-list a,
.nav-user a {
  color: #000;
}

.nav-list a:hover,
.nav-list a:focus,
.nav-user a:hover,
.nav-user a:focus {
  color: #fb565a;
}

.nav-list a:active,
.nav-user a:active {
  color: rgba(0, 0, 0, 0.3);
}

.logo {
  min-width: 160px;
  min-height: 65px;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.3;
}

 /* Преимущества и Слайдер */
.advantages {
  min-height: 420px;

  background-color: #eee;
}

.advantages .container-index {
  display: flex;
  min-height: 300px;
}

.advantages-list {
  margin: 0;
  padding: 0;
  padding-top: 65px;

  list-style: none;
}

.advantages-list li {
  display: flex;
  flex-direction: column;
}

.advantages-item {
  width: 380px;
}

.advantages-item p {
  margin-top: 30px;
}

.advantages-item .btn {
  width: 240px;
  min-height: 50px;
  margin-top: 20px;
  padding-top: 18px;

  text-align: center;
}

.advantages-slogan {
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: #000;
}

.advantages-controls { 
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100px;
  min-height: 30px;
  margin-top: auto;
  margin-left: 150px;
  padding: 0;

  list-style: none;
}


/* Услуги */
.products {
  min-height: 510px;
  color: #283136;

  background-color: #fff;
}

.products-list {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.products-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 300px;
  min-height: 345px;
  margin-top: 80px;
}

.products-title {
  margin-bottom: 0;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

/* Услуги -- Кнопки */
.products-item .btn {
  width: 160px;
  min-height: 50px;
  margin-top: 10px;
  padding-top: 18px;

  text-align: center;
}

.products-item:nth-child(2) .btn {
  background-color: #00ca74;
}

.products-item:nth-child(3) .btn {
  background-color: #efc849;
}

.products-item:nth-child(2) .btn:hover {
  background-color: #00bc6c;
}

.products-item:nth-child(3) .btn:hover {
  background-color: #eab534;
}

.products-item:nth-child(2) .btn:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #00aa62;
}

.products-item:nth-child(3) .btn:active {
  color: rgba(255, 255, 255, 0.3);
  
  background-color: #e5a722;
}

/* О нас */
.about-us {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 530px;

  color: #283136;

  background-color: #fff;
}

.about-us ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-us-dis {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 660px;
  min-height: 420px;
}

.about-us-slogan {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
}

.about-us-promo {
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.about-us-tab {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 360px;
  min-height: 420px;
}

.about-us-tab b {
  text-transform: uppercase;
}

.about-us-success tr {
  line-height: 18px;
  font-weight: 400;
}

.about-us-success tr:first-child {
  font-size: 45px;
  line-height: 10.06px;
  font-weight: 700;
  color: #000;
}

.about-us-success td {
  padding-top: 60px;
}

/* Наши клиенты  */
.clients {
  margin-bottom: 80px;
}

.clients ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 180px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.clients li {
  width: 260px;

  text-align: center;

  opacity: 0.2;
}

.clients li:hover {
  opacity: 1;
}

.clients li:active {
  opacity: 0.1;
}

/* Контакты */
.contacts {
  display: flex;
  flex-direction: column;
  min-height: 420px;

  line-height: 18px;
  color: #666;

  background-color: #fff;
}

.contacts-container {
  position: absolute;
  z-index: 1;

  width: 320px;
  min-height: 310px;
  margin-top: 55px;
  background-color: #fff;
}

.contacts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 28px;

  text-align: center;
}

.contacts-wrapper h3 {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
}

.contacts-wrapper .btn {
  width: 220px;
  min-height: 50px;
  padding-top: 18px;
  text-align: center;
}

.contacts img {
  position: relative;
  top: 0;
  left: -140px;
}

/* Футер */
.main-footer {
  display: flex;
  align-items: center;
  min-height: 218px;

  line-height: 22px;
  color: #444;

  background-color: #fff;
}

.main-footer b {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #000;
}

.social-list {
  width: 260px;
  min-height: 85px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.footer-slogan {
  width: 560px;
  margin-left: 140px;
}

/* ========УБЕЙТЕ МЕНЯ============ */

/* Инпуты Каталога */
.container-catalog {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}


.filter-catalog {
  width: 260px;
  min-height: 780px;

  line-height: 20px;

  background-color: #fff;
}

.filter-catalog form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 780px;
}

.filter-catalog fieldset {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-catalog legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

.filter-catalog input {
  background-color: #eee;
}

.filter-catalog ul {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filter-catalog .btn { 
  color: #000;

  background-color: #eee;
}

/* Каталог готовых шаблонов */
.catalog {
  display: flex;
  flex-direction: column;
  width: 760px;
  min-height: 2160px;

  line-height: 18px;
  color: #666;

  background-color: #fff;
}
    /* Сортировка Каталога */
.sort-catalog {
  display: flex;
  justify-content: space-between;
  margin-bottom: 52px;
}

.sort-catalog h3 {
  margin: 0;
  margin-right: 260px;
  padding: 0;

  text-transform: uppercase;
}

.sort-list {
  width: 280px;
}

.sort-direction {
  width: 60px;
}

.sort-list,
.sort-direction {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.sort-list a,
.sort-direction a { 
  font-size: 14px;
  color: rgba(0, 0, 0, 0.3);

  list-style: none;
}

.sort-list a:hover,
.sort-direction a:hover { 
  color: rgba(0, 0, 0, 0.6);
}

.sort-list a:focus,
.sort-list a:active,
.sort-direction a:focus,
.sort-direction a:active { 
  color: #000;
}

    /* Каталог - карточка товаров */
.catalog-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 760px;
  min-height: 1920px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;

  list-style: none;
}

.catalog-item {
  position: relative;

  width: 360px;
  min-height: 620px;
  margin-bottom: 35px;
}
 /* Далее не догоняю почему блок не скрывается классом .visually-hidden. Да, он абсолютно спозиционирован и вырван из общего потока, но почему не принимает занчения из .visually-hidden */
.item-info {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;

  width: 100%;
  min-height: 235px;

  text-align: center;

  background-color: #eee;
}

.item-info .btn:hover,
.item-info .btn:active {
  color: #fff;
}

.item-title a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000;
  text-transform: uppercase;
}

/* Пагинация */
.pagination-list {
  display: flex;
  width: 460px;
  min-height: 55px;
  margin: 0;
  padding: 0;

  text-transform: uppercase;
  list-style: none;
}

.pagination-item {
  width: 50px;
  min-height: 50px;
  margin-right: 10px;

  text-align: center;
}

.pagination-next {
  width: 260px;
  min-height: 50px;
}

.pagination-item a,
.pagination-next a {
  font-weight: 500;
  color: #000;
}

.pagination-item,
.pagination-next { 
  background-color: #eee;
}

.pagination-item:hover,
.pagination-next:hover {
  background-color: #dfdfdf;
}

.pagination-item:active {
  background-color: #d5d5d5;
}

.pagination-item:active a,
.pagination-next:active a {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-current,
.pagination-item:hover.pagination-current,
.pagination-item:active.pagination-current {
  background-color: #fff;
  border: 2px solid #dbdbdb;
}



/* Модальная форма */
.modal-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 960px;
  min-height: 595px;
  margin: 0 auto;

  line-height: 18px;
  font-weight: bold;
  color: #000;

  background-color: #fff;
  box-shadow: 0 0 20px #eee;
}

.modal-form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 780px;
  min-height: 480px;
}

.modal-form-container form {
  display: flex;
  flex-direction: column;
}

.modal-name {
  display: flex;
  justify-content: space-between;
}

.modal-letter {
  display: flex;
  flex-grow: 1;
}

.modal-form-container h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 500; 
}

.modal-form-container input,
.modal-form-container textarea {
  font: inherit;
  line-height: 18px;
  color: #444;

  background-color: transparent;
  border: 2px solid #d7dcde;
}

.modal-form-container input:hover,
.modal-form-container textarea:hover {
  color: rgba(68, 68, 68, 0.5);

  border-color: #b4b9bb;
}

.modal-form-container input:focus,
.modal-form-container textarea:focus {
  color: #444;

  border-color: #000;
}

.modal-form-container input:invalid,
.modal-form-container textarea:invalid {
  color: #e74246;

  border-color: #e74246;
}

.modal-form-container button[type="submit"] {
  font: inherit;
  line-height: 18px;
  font-weight: 500;
  color: #fff;

  background-color: #fb565a;
  border: none;
}

.modal-form-container button[type="submit"]:hover,
.modal-form-container button[type="submit"]:focus {
  background-color: #e74246;
}

.modal-form-container button[type="submit"]:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #d7373b;
}

.modal-form button[type="button"] {
  align-self: flex-start;
}
